/* CSS Document */
body{
margin:0;
font-size:11px;

/* background:url(../images/bg5.jpg) repeat-x #ece9d8; */
background-position:top;
}
.newsticker a{
color:#FFFF00;
text-decoration:none;
}

a{
text-decoration: none;
}

.contentbox{
background:#F9F8F3;
padding-left:15px;
padding-right:10px;
height:400px;

}
.container{

background-color:#FFFFFF;
background-image:url(../images/ribbon.jpg);
background-repeat:no-repeat;
background-position:right top;
}
h3{
color:#fd4a48;
font-weight:bold;
font-size:11px;
}



.bluepale
{
	background-color: #EAEAEA;
}
.paleRight
{
	background-color: #EAEAEA;
	text-align:right;
}
.bluewish
{
	background-color: #FAFAFA;
}



 th{

color:#ffffff;

font-size:11px;
font-weight:bold;
text-decoration:none;
/*background-color:#f0e5a5;*/
 background-color:#666666;
 
 text-align:left;
 text-transform:uppercase;
 border-left:none; border:none; border-spacing:0px; border-style:hidden;
 padding: 1px;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #666666;
 }
 
 
 
  #report th{

color:#ffffff;

font-size:11px;
font-weight:bold;
text-decoration:none;
/*background-color:#f0e5a5;*/
 background-color:#666666;
 
 text-align:left;
 text-transform:uppercase;
 border-left:none; border:none; border-spacing:0px; border-style:hidden;
 padding: 1px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
 }

 
 td{
font-size:12px;

letter-spacing:normal;
line-height: normal 20px;
padding: 1px;

}

.dataRow{
	padding: 1px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
}


#report td{
font-size:12px;

letter-spacing:normal;
line-height: normal 20px;
padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	/*border-bottom-color: #E1E1E1;*/
}

#report2 td{
font-size:12px;

letter-spacing:normal;
line-height: normal 20px;
padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ffffff;
	/*border-bottom-color: #E1E1E1;*/
}

.txtbox{

border:0px;
color:#009900;
padding:2px;
}
.rightpane{
padding-right:2px;
padding-top:5px;
}
.rightpane ul li{
list-style-image:url(../images/bullet.gif);
}
.greenlinks{
color:#18623d;
text-decoration:none;
}
.greenlinks img{
border:solid 2px #fff;
}
.bdrbtm{
text-align:left;
border-bottom:solid 1px #ccccff;
padding-bottom:1px;

}
.redhdrs, .redhdrs a{
color:#ff0000;
font-weight:bold;
font-size:11px;
text-decoration:none;

}



.red{

color:#ff0000;
font-weight:bold;
font-size:11px;
text-decoration:none;
background-color:#FF9933;

}

span{

font-size:12px;
text-align:left;
letter-spacing:normal;
line-height:150%;
}
.content{
background:#ffffff;
padding-left: 20px;
padding-top:10px;
}
.menu td{
color:#FFFFFF;
text-align:center;
}
.menu td a{

color:#FFFFFF;
text-align:center;
text-decoration:none;
padding-left:5px;
padding-right:5px;
width:99%;
height:44px;
}

.hiddendiv{
height:0;
overflow:hidden;
visibility: hidden;
}


.submenu{
height:36px;
visibility:visible;
}
.evenrow{
background-color: #E6E6E6;
/*border: 1px solid #CCCCCC;*/
}

.evenrow2{
background-color: #eeeeee;
/*border: 1px solid #CCCCCC;*/
}

.evenrow3{
background-color: #fafafa;
/*border: 1px solid #CCCCCC;*/
}


input, select, textarea {
	
	/*font-size: 11px; background-color: #E6E6E6; */
	color: #000;
	border: 1px solid #006633;
}

input:focus, textarea:focus {
	background-color: #fff;
border: 1px solid #006633;
}


/* DASHBOARD NAVIGATION*/
.td_nav{
padding-top:7px;
padding-left:10px;
text-align:left;
border-bottom:solid 1px #cccccc;
width:150px;
}
.td_nav a,.td_nav a:visited{
 text-decoration:none;
 color:#000033;
 font-weight:bold;
}
.td_nav a:hover{
color:#18623d;
}
.darklink{
 text-decoration:none;
 color:#18623d;
 font-weight:bold;
}

.solidblockmenu ul{
margin: 0;
padding: 0;
float: left;
width: 100%;
background: black url(../images/menu_bg.jpg) center center repeat-x;
}

.solidblockmenu li{
display: inline;
}

.solidblockmenu li a{
float: left;
color: white;
padding-left:10px;
padding-right:11px;
padding-top:15px;
padding-bottom:16px;
text-decoration: none;
border: 0px;
}

.solidblockmenu li a:visited{
color: white;
}

.solidblockmenu li a:hover, .solidblockmenu li a.current{
background:#18623d;
}

.tabcontainer{
color:#FFFFFF;
font-weight:bold;
clear: left;
padding:1px !important;
padding:8px;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

.white{
font-size:11px;

font-weight:bold;
color:#FFFFFF;

}
.black{
font-size:12px;

color:#OOOOOO;

}
.black2{
font-size:11px;

font-weight:bold;
color:#OOOOOO;
}


.tabcontainer2{
color:#FFFFFF;
clear: left;
padding:1px !important;
padding:8px;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}
.tabcontainer3{
color:#000000;
clear: left;
padding:1px !important;
padding:8px;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}
.tabcontainer a{
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
}

*:first-child+html .ieclass{ /*IE7 hack to remove gap between menu and sub contents*/
margin-top: -1em;
}

* html .ieclass{ /*IE6 and below hack to remove gap between menu and sub contents*/
margin-top: -1em;
}


.button_width{
width:120px;
}

.tabcontent{
display:none;
}

#.ttable{
	color:#000000;
	padding:5px;
	#font-weight:bold;
	#background :#ECE9D8;
	#background-color: #E6E6E6;
	right: auto;
	clip: rect(auto,auto,auto,auto);	
}
